.cart {
        position: absolute;
        left: 20px;
        padding: 10px;
        font-Family: Arial;
        
        
}

ul { 
        list-Style: none; 
        padding: 0;
 }

li {
    display: flex;
    justify-Content: space-between;
    align-Items: center;
    padding: 10px;
    margin-Bottom: 10px;
    border-Radius: 5px;
    background-color:transparent;
    color: var(--text-color);

  }
  h3 {
    margin: 0 ;
    color: var(--text-color);
  }
  .item p {
    margin: 0;
    font-Size: 14px;
    color: var(--text-color);
    opacity: 0.8;
  }

  button{
      padding: 5px 10px;
      margin: 0 5px;
      background-color: var(--secondary-color) ;
      color: var(--background-color);
      border: none;
      border-Radius: 3px;
      cursor: pointer;
      opacity: 0.8;
      
    
  }

  .remove button{
    padding: 5px 10px;
    margin-Left: 10px;
    background-Color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-Radius: 3px;
    cursor: pointer;
  }