.favorite {
    position: absolute;
    left: 20px;
    padding: 20px;
    font-family: Arial; /* Correct capitalization */
   background-color: rebeccapurple;
}

ul {
    list-style: none; /* Correct capitalization */
    padding: 0;
}

li {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px; /* Correct capitalization */
    background-color: transparent;
    border-radius: 5px; /* Correct capitalization */
    display: flex;
    justify-content: space-between; /* Correct capitalization */
    align-items: center; /* Correct capitalization */
}

.favorite button {
    padding: 5px 10px;
    background-color: var(--secondary-color); /* Correct capitalization */
    color: var(--background-color);
    border: none;
    border-radius: 3px; /* Correct capitalization */
    cursor: pointer;
}

.favorite p {
    margin: 0;
    font-size: 14px; /* Correct capitalization */
    color: var(--text-color);
    opacity: 0.8;
}

.favorite h3 {
    margin: 0;
    color: var(--text-color);
}

.favorite h1 {
    color: var(--text-color);
}
