/* Footer.css */
.footer {
    background-color: var(--footer-background);
    color:var(--footer-text);
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
    color: var(--footer-text);
  }
  
  .footer-section {
    margin-bottom: 20px;
    color: var(--footer-text);
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  
  .footer-section p, .footer-section ul, .footer-section a {
    font-size: 14px;
    
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: var(--footer-text);
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: var(--primary-color);
  }

  .social-media{
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  
  .social-media a {
    margin-right: 15px;
    font-size: 20px;
    color: var(--footer-text);
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: var(--primary-color);
  }

  .icon-text {
    display: flex;
    align-items: center; /* Vertically center icon and text */
    gap: 8px; /* Add spacing between the icon and text */
    
   
  }
  
  .icon-text i {
    font-size: 18px; /* Adjust icon size */
  }
  
  .icon-text p {
    margin: 0; /* Remove default margin from <p> */
    font-size: 16px; /* Adjust text size */
    color: var(--footer-text);
  }
  .icon-text p:hover {
    color: var(--primary-color);
    
  }
  
  .quick-links li{
    background-color: transparent;
  }
  
  .contact p {
    text-align: left;
    color: var(--footer-text);
  }

  .aboutUs p {
    text-align: left;
    color: var(--footer-text);
  }
  .footer-bottom p{
    color:var(--footer-text);
  }
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    border-top: 1px solid var(--footer-text);
    color: var(--footer-text);;
    padding-top: 20px;
    margin-top: 20px;
  }
  p sup {
    font-size: 10px; /* Adjust size of the registration mark */
    vertical-align: text-bottom; /* Align it properly */
  }
.footer-controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: 2000;
  box-sizing: border-box;
  overflow: hidden;
  }


  
  .language-toggle,
  .theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .language-select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 0.5px solid var(--footer-text);
    background-color: var(--footer-background);
    color:var(--footer-text);
    cursor: pointer;
  }
  
  .theme-button button{
    padding: 8px 15px;
    background-color: var(--text-color);
    color: var( var(--background-color));
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
   /* Responsive Styles */
@media (max-width: 768px) {

    .social-media{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
        gap: 1rem;
      }
      
      .icon-text p {
       display: none;
      }
}