@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




/* colors.css */
:root {
    --primary-color: #F4C198;
    --secondary-color: #e08325;
    --background-color: #F4E5D7;
    --text-color: #0c0805;
    --odd-color:#310404;
    --footer-background:#635c56;
  }
  
  /* Dark theme variables */
  [data-theme="dark"] {
    --primary-color: #F4C198;
    --secondary-color: #F5A454;
    --background-color: #0c0805;
    --text-color: #F4E5D7;
    --footer-text:#635c56;
    --footer-background:#130b06;


  }

  /* buttons.css */
.button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* body.css */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  * {
    box-sizing: inherit; /* Ensure all elements respect box-sizing */
  }