/* colors.css */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ffffff;
    --text-color: #333333;
    --odd-color:#310404;
    --footer-text:#a79d9d;
    --footer-background:#413d3d;
    --theme-button:#270101;
  }
  
  /* Dark theme variables */
  [data-theme="dark"] {
    --primary-color: #e74c3c;
    --secondary-color: #9b59b6;
    --background-color: #2c3e50;
    --text-color: #ecf0f1;
    --odd-color:#a02b2b;
    --footer-text:#413d3d;
    --footer-background:#a79d9d;
    --theme-button:#06b354;


  }

  /* buttons.css */
.button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* body.css */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  