.alerts{
    position: absolute;
    left: 20px;
}
.notification {
    transition: background-color 0.3s ease;
    gap: 10px;
    color: var(--text-color);
    font-size: 14px;
  }
  
  .notification.read {
    background-color: transparent;
  }
  
  .notification.unread {
    background-color:var(--background-color);
    opacity: 0.7;
  }
  
li{
    
        padding: 10px;
        margin-Bottom: 10px;
       
}

.alerts button{
  margin-Top: 5px;
  padding: 5px 10px;
  background-Color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-Radius: 3px;
  cursor: pointer;
}