.category{
    display: flex;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    padding: 1rem;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr;  
    margin-left: 260px; /* Offset by sidebar width to avoid overlap */
    width: calc(100% - 260px); /* Adjust width to account for sidebar */
    padding: 20px;
  }

  .product-grid-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    flex: 1;
  }

  .Pagination-Control{
    margin-Top: 20px;
    text-Align: center;
  }
   
  .pagination-button{
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
  }

  .pagination-button:hover{
    background-color: var(--primary-color);
  }

  .pagination-button.active{
    background-color: var(--secondary-color);
  color: var(--background-color);
  }


  .filter-sidebar {
    flex: 1;
    position: fixed;
    top: 0; /* Stick to the top */
    left: 0; /* Stick to the left */
    height: 100vh; /* Full viewport height */
    width: 250px;
    overflow-y:scroll;
    padding: 1rem;
  }
  .filter-sidebar h1 {
    font-size: 1.5rem;
  }
  .filter-sidebar h2 {
    font-size: 1.2rem;
  }
  .filter-sidebar h3 {
    font-size: 1rem;
  }
  
  .size-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .size-option {
    padding: 5px 10px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 4px;
    cursor: pointer;
  }

  .size-option:hover {
    padding: 5px 10px;
    color: var(--secondary-color);
    border:1px solid var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
   
    .category{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 1rem;
    }
    
    .filter-sidebar {
      position: relative;
      width: 100%;
      height: auto;
      padding: 0;
     }

     .product-grid {
      display: grid;
      grid-template-columns: 1fr;  
      margin: 0; /* Offset by sidebar width to avoid overlap */
      width: 100%; /* Adjust width to account for sidebar */
      padding: 0;
    }
  }