.product-list-card-container {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-list-card {
    background-color: #5c0707;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .product-list-card:hover {
    transform: scale(1.05);
  }
  
  .product-list-card-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .product-list-card-price {
    color: #28a745;
    font-weight: bold;
  }
  
  .product-list-card-description {
    color: #555;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  .product-list-card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
  }
    