.details-page{
  display: grid;
  grid-template-columns: 3fr 2fr; 
  height: 100vh;
}
.gallery{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}

.thumbnail-list{
box-sizing: border-box;
}
.thumbnail {
  width: 80px;
  cursor: pointer;
  border: 2px solid transparent;
}
.thumbnail:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}
.thumbnail.selected {
  border: 2px solid var(--text-color);
}
.main-image img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}




.item-details{
  padding: 1rem;
 
}


.item-name {
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5rem 0;
  
}
.brand-name {
  font-size: 1rem;
  text-align: left;
  color:var(--text-color);
  opacity: 0.7;
}

.rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}
.shipping-option {
  color: var(--text-color);
  opacity: 0.5;
  margin: 1rem 0;
  text-align: left;
}
.color-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border:1px solid var(--text-color);
}
.size-length-selectors {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 0;
}

.options {
  display: flex;
  gap: 0.5rem;
}
.options button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-color);
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);

}

.options button:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.quantity-buttons button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
.quantity-buttons button:hover {
  
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.add-to-bag {
  margin-top: 2rem;
}

.add-to-bag-button {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.add-to-bag-button:hover {
  background-color: var(--primary-color);
}

.about-style{
  
  padding: 1rem;
  list-style-type: square;
  padding-right: 2rem;
}

.about-style h1{
  font-weight: bolder;
  font-size: 2rem;
  text-align: left;
}

.about-style  p{
  font-size: 1.3rem;
  text-align: left;
}

.about-style li{
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  
}

.discriprion{
  
  padding: 1rem;
  list-style-type: square;
}

 .discriprion h2{
  font-weight: bold;
  font-size: 1.7rem;
  text-align: left;
}

.about-style , .discriprion p{
  font-size: 1.3rem;
  text-align: left;
}

.discriprion li{
  width: 100%;
  font-size: 1.2rem;
  text-align: left; 
}

.product-not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.product-not-found p{
  width: 100%;
}


@media (max-width: 768px) {

  .details-page{
    display: grid;
    grid-template-columns: 1fr; /* Two equal columns */
    height: 100vh;
  }

  .gallery{
    grid-template-columns: 1fr; 
    justify-content: center;
  }

  .thumbnail-list{
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .thumbnail {
      width: 80px;
      height: 100px;
    }
    .main-image{
      order: 1;
      width: 100%;
      height: 200px;
    }
    .main-image img{
      max-height: 300px;
      object-fit: cover;
    }
}