    .searchBar{
            padding: 10px;
            width: 300px;
            margin-Bottom: 20px;
            background-color: var(--footer-background);
            border:transparent;
            outline: "none",
        }
  
    input:focus {
            outline: none; /* Removes the default focus border */
            color: var(--footer-text);
        }

    .search h1{
            font-size: medium;
            opacity: 0.8;
            color: var(--text-color);
        }

    .search h2{
            font-size: small;
            opacity: 0.6;
            color: var(--text-color);
        }


    .search ul {
            font-size: small;
            list-style: none;
            padding: 0;
            
        }


    .search li{
            padding: 10px;
            cursor: pointer;
            background-color: transparent;
            color: var(--text-color);
        }

    .search{
            position: absolute;
            left: 20px;
            padding: 10px;
            font-Family: Arial;
        }