.top-menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #333;
    color: #fff;

  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;
  }
  .menu {
    flex: 2;
  }
  .menu a {
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #ffa500;
  }
  .icons {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;

  }
  .menu-icon {
    margin-right: 2rem;
    font-size: 1.2rem;
  }
  .menu-icon:hover {
    color: #ffa500;
  }


  /* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .menu {
      display: none; /* Hide the menu by default */
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 100%;
      padding: 1rem;
    }
  
    .menu.menu-open {
      display: flex; /* Show menu when open */
    }
  
    .hamburger {
      display: block; /* Show hamburger icon */
      order: 3;
    }
    .logo {
        order: 1;
      }
      .icons {
        order: 2;
      }
  }
  